ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1

## Comment out/copy the following blocks as necessary to add more networks
## The top block is for general home networks
## Use the second block as a template for Enterprise-type networks


#network={
#    ssid="*network name goes here*"
#    psk="*password goes here*"
#}

#network={
#    ssid="uwosecure-v2"
#    scan_ssid=0
#    proto=RSN WPA
#    key_mgmt=WPA-EAP
#    identity="*UWO username*"
#    password="*UWO password*"
#    ca_cert="/etc/ssl/certs/Thawte_Premium_Server_CA.pem"
#    eap=PEAP
#    phase2="auth=MSCHAPV2"
#}
